div{
    background-color: #27ae60;
    color: cadetblue;
    height: 600px;
    width: 450px;
    /* position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto; */
    position: relative;
}
.child{
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    margin: auto;
    border-radius: 50%;
    
}